.logoContainer {
  display: flex;
  align-items: center;
}
.logoImage {
  margin-top: 20px;
  margin-left: 10px;
  max-width: 100px;
  max-height: 100px;
}
.logoImage:hover {
  transform: scale(1.2);
  margin-top: 60px;
}
