
.logo {
  display: flex;
  align-items: center;
}
.logoImg {
  margin-top: 20px;
  margin-left: 10px;
  max-width: 100px;
  max-height: 100Px;
}
.logoImg:hover {
  transform: scale(1.2);
  margin-top: 60px;
}

