@font-face {
  font-family: 'Get Schwifty';
  src: url('../../../../assets/Font/get_schwifty.ttf') format('truetype');
}

.card {
  background-color: rgba(0, 0, 0, 0.473);
  border: 2px solid rgba(7, 7, 7, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px); 
  font-family: RampartOne-Regular;
  width: 10em;
  height: 16em;
  border-radius: 15px 0 15px 15px;
  overflow: hidden;
  margin: 0.5em;
  position: relative;
    transition: background-color 0.3s ease-in-out;
  background: linear-gradient(to right, #212121 0%, #1b1b1b 50%, #0a0a0a 100%);
  
} 
.card:hover {
  background: linear-gradient(to right, #0a0a0a 0%, #33333300 100%);
   box-shadow: 0 0 10px rgba(234, 241, 241, 0.6);
}

 .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
} 

.card::after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
}
.card h3{
  color: rgb(11, 233, 22);
  text-align: center;
  padding: 0;
  margin: 0;
} 
.card img {
  border-radius: 10px;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100%;
  transition: 0.1s;
  margin-bottom: 50px;
  transform-style: preserve-3d;
}

.card:hover img {
  transform: rotateY(180deg);
} 

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1em;
  font-family:Get Schwifty;
  color: rgb(13, 228, 41);
  text-align: center;
} 

.speciesYGenero {
  justify-content: baseline;
  color: white;
  font-size: 0.9rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.412);
}
 
.cardButton {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  color: #fff;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.1s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
}

.cardButton:hover {
  background-color: #ff4d4d;
  transform: scale(1.5);
} 


.favButton{
  background-color: transparent;
  position: absolute;
    top: 0px;
  left: 0px;
  right: 800px;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}
.favButton:hover{
    background-color:transparent;
  transform: scale(1.5);
} 