@font-face {
  font-family: 'Get Schwifty';
  src: url('../../assets/Font/get_schwifty.ttf') format('truetype');
}

.container {
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: 60px;
  margin-right: 450px;
  margin-left: 30px;
  border: solid 2px;
  border-radius: 10px;
  background-color: #0a0a0a;
}
.container:hover {
  background: linear-gradient(to right, #0a0a0a 0%, #33333300 100%);
  box-shadow: 0 0 10px rgba(234, 241, 241, 0.6);
}


.containerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 20px;
}
.containerInfo h1{
  font-size: 20px;
  color: aliceblue;
}

.containerInfo div {
 
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}
.img{
 max-width: 50%;
 max-height: 50%;

}

.containerInfo img {
  width: 38%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.container button{
  position: absolute;
  top: 0;
  right: 0;
}
.container button:hover{
  background-color: red;
}
.texto{
  font-weight: bold;
  font-family: Get Schwifty;
  font-size: 1rem;
  color: rgb(22, 202, 15);
  text-shadow: 0 0 10px rgba(234, 241, 241, 0.6);
}
.text2{
  color: red;
  font-size: 2rem;
}
