.container {
background-image: url(https://images5.alphacoders.com/633/633151.jpg);
background-size: cover;
<<<<<<< HEAD
background-position: center;
=======
background-position: center center;
>>>>>>> 3ec22c11cd13e8eb2562a46d15c2ddb2418d50db
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sidebarLeft {
  width: 200px;
  margin-right: 10px;
  margin-left: 30px;
}

.sidebarRight {
  width: 200px;
  margin-left: 10px;
  margin-right: 30px;
}

.sidebarImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.mainContent {
  flex-grow: 1;
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.822);
  max-width: 800px; /* Establece un ancho máximo para el contenedor */
  margin-top: 70px; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Reduce el espacio interno */
}

.titulo_sinopsis {
  text-align: center;
  color:rgb(13, 228, 41);
  font-family: "Get Schwifty", cursive;
  font-size: 4em; /* Reduce el tamaño de fuente del título */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;/* Ajusta la altura de línea del título */
}

.content {
  display: flex;
  justify-content: center;
}

.summary {
  max-width: 700px;
}

.p {
  margin-bottom: 10px;
  color: antiquewhite;
  font-size: 18px; /* Reduce el tamaño de fuente de los párrafos */
  line-height: 1.5; /* Ajusta la altura de línea de los párrafos */
}

.details {
  background-color: #50be2e;
  border-radius: 10px;
  padding: 0px;
  margin-top: 0px;
}

.h2 {
  font-size: 24px;
 margin: 0 0 0 10px;
 padding-left: 0;
 padding-right: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.list li {
  font-size: 18px;
  margin-bottom: 10px;
}

.list span {
  font-weight: bold;
  margin-right: 10px;
}

.link {
  display: inline-block;
  position: relative;
  background-color: #0e3da3;
  color: #f2f7f8;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #187505;
}

.link:hover:before {
  transform: translateX(0);
}

