.navbar {
  display: flex;
  justify-content: center;
  height: 40px;
}

.navbarLink {
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}

.navbarLink:hover {
  color: #00c9ff;
}

.navbarLink::before {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: rgb(13, 228, 41);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-decoration-thickness: 2px;
} 

.navbarLink:hover::before {
  width: 100%;
}

.active {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: rgb(13, 228, 41);
  text-decoration-color: #282c34;
}

.disable {
  text-decoration: none;
  color: inherit;
}






/* esta es una opcion la cual corregí para evitar problemas de incompatibilidad de navegadores */


/* .navbar {
  display: flex;
  justify-content: center;
  height: 40px;
}

.navbarLink {
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}

.navbarLink:hover {
  color: #00c9ff;
}

.navbarLink::before {
content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: rgb(13, 228, 41);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
} 

.navbarLink:hover::before {
width: 100%;
}

.active {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: rgb(13, 228, 41);
  text-underline-offset: 5px;
  text-decoration-color: #282c34;
}

.disable {
  text-decoration: none;
  color: inherit;
} */





