.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  height: 2rem;
  background-color: #282c34;
  color: #8bc34a;
  width: 0; /* Establecemos el ancho en 0 para que el input se ajuste al tamaño del texto */
  min-width: 119px; /* Establecemos un ancho mínimo para evitar que el input se haga demasiado pequeño */
}

.searchInput::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: #999;
}

.searchInput:focus {
  border-color: #3f51b5;
  outline: none;
  background-color: #3a3f4c; /* Cambiamos el color de fondo al hacer clic en el input */
  color: rgb(13, 228, 41); /* Cambiamos el color de fuente al hacer clic en el input */
}
.searchButtonAdd {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(15, 158, 34);
  color: #fff;
  transition: all 0.3s ease;
}
.searchButtonAdd:hover {
  background-color: rgb(13, 228, 41);
  cursor: pointer;
}
.searchButtonRandon {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  color: #fff;
  transition: all 0.3s ease;
}
.searchButtonRandon:hover {
  background-color: #1a237e;
  cursor: pointer;
}

