/* @font-face {
  font-family: "Get Schwifty";
  src: url("../../assets/Font/get_schwifty.ttf") format("truetype");
} */

.titulo {
  font-family: "Get Schwifty", cursive;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(13, 228, 41);
  margin-left: 10rem;
  margin-top: 2.5rem;
  text-align: left;
  animation-name: tituloAnimacion;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.titulo:hover {
  text-shadow: 0 0 10px rgba(234, 241, 241, 0.6);
}
