.container {
  background-image: url(https://wallpapercave.com/wp/wp6784639.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding: 20px;
}

.welcome-card {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 100;
}
.background {
  background-image: url("../../assets/imagenes/Linkedin\ Henry\ STUDENTS-05.png");
  background-size: cover;
}
.card {
  background-color: #a3a5b141;
  border-radius: 20px;
  margin: 90px 10px 10px 10px;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  /* transition: background-color 0.3s ease-in-out;
  background: linear-gradient(to right, #212121 0%, #1b1b1b 50%, #0a0a0a 100%); */
}

.card:hover {
  /* background: linear-gradient(to right, #0a0a0a 0%, #333333c9 100%); */
  box-shadow: 0 0 10px rgba(234, 241, 241, 0.6);
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin-bottom: 8rem;
  margin-top: 0;
  color: #d5d815; /* rojo oscuro */
  font-weight: bold;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.493);
}
.subtitle {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 0px rgb(172, 148, 11);
}
.text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  color: #d0d0d0;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.link {
  color: #e2dada;
  font-weight: 700;
  text-decoration: none;
}

.button-container {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
}

.button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #d0d0d0;
  color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.active {
  background-color: #1a1a1a;
  color: #d5d2e0;
}

.welcome-card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translate(-10px, -10px) rotateX(10deg);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}
.list1,
.list2,
.list3 {
  list-style-type: none; /* Quitamos el estilo de lista predeterminado */
  margin: 0;
  padding: 0;
}

.item {
  margin-bottom: 10px;
}
.list1 {
  display: block;
  color: #d5d815; /* rojo oscuro */
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.list2 {
  display: block;
  color: #9c930b;
  font-size: 1.5em;
  text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}
.list3 {
  display: inline-flex;
  justify-content: space-between;
  color: #d0d0d0;
  font-size: 3em;
  text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  gap: 30px;
}


@media (max-width: 768px) {
  .button-container {
    right: -80px;
  }
}

.button-container {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
}

.button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #d0d0d0;
  color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.active {
  background-color: #1a1a1a;
  color: #dbbe16;
}
