.background {
  background-image: url("https://images.alphacoders.com/876/876589.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  
  
}
.containerFav {
  display: flex;
  justify-content: space-between; 
  width: 90%;
  max-width: 1250px;
  gap: 50px;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  max-width: 20rem;
  margin-top: 0;
  padding-top: 0;
}



.containerFavoritos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width:80rem;
  margin-left: 10rem;
  margin-right: 0;
  margin-top: 100px;
  z-index: 1;
  position: relative;
  max-height: calc(105vh - 150px);
  overflow-y: auto;

}

.containerFavoritos::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.containerFavoritos::-webkit-scrollbar-thumb {
  background-color: rgb(13, 228, 41);
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(255,255,255,0.2);
}

.card {
  margin: 10px;
  width: calc(20% - 20px);
}

.tituloFavoritos {
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: Get Schwifty;
  font-size: 6rem;
  color:rgb(13, 228, 41);
  margin-left: 2rem;
  
}

.tituloFavoritos:hover {
  text-shadow: 0 0 10px rgba(234, 241, 241, 0.6);;
}

.selectores{
  margin: 2px 2px 40px 2px;
}

.selectores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-left: 4rem;
}

.selectores select,
.selectores button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #333;
  color: white;
  font-size: 20px;
  padding: 5px;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
}

.selectores select:focus,
.selectores button:focus {
  outline: none;
  border-bottom-color: #1da1f2;
}

.selectores select:hover,
.selectores button:hover {
  cursor: pointer;
  color: #1da1f2;
}

.selectores select option {
  background-color: rgba(255, 255, 255, 0.1); /* Cambia el fondo de las opciones a un color blanco transparente */
  color: rgb(23, 185, 17);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Agrega un efecto de sombra solo en el texto */
}

.selectores button {
  background-color: #0d47a1;
  color: #fff;
  border-radius: 20px; /* Cambiamos el borde a un radio de 20px para que sea ovalado */
  padding: 8px 16px; /* Reducimos el padding para hacerlo más compacto */
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 0px #0e86c7;
  transition: all 0.3s ease;
}

.selectores button:hover {
  background-color: #0e86c7;
  cursor: pointer;
  box-shadow: 0px 2px 0px rgb(13, 228, 41);
  transform: translateY(2px);
}