.container {
  background-color: #222;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
 
 
}



.leftSection {
  display: flex;
  align-items: center;
  height: 100%;
}



.center-section {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
  background: linear-gradient(to right, #212121 0%, #1b1b1b 50%, #0a0a0a 100%);
  
}

.container:hover {
  background: linear-gradient(to right, #0a0a0a 0%, #33333300 100%);
   box-shadow: 0 0 10px rgba(234, 241, 241, 0.6);
}

